---
layout:	default
title: Academic
---

<div class = "container_big bs-docs-container">
  <div class = "academic_left">
    <div class = "academic_lt">
      <div>
	<a href="./academic_1.html">
	  <h2>科研成果</h2></a>
      </div>
      <div class = "academic_now">
	<a href="./academic_4.html">
	  <h2>学术节</h2></a>
      </div>
      <div>
	<a href="./academic_5.html">
	  <h2>学长感悟</h2></a>
      </div>
    </div>
    <div class = "academic_bottom">
       <div class="bs-docs-sidebar hidden-print hidden-xs" role="complementary">
           <ul class="nav bs-docs-sidenav">
		{% for post in site.categories.academic_festival %}
		<li><a href="#{{post.year}}"><span class="toctext">{{post.year}}</span></a></li>
		{% endfor %}
           </ul>
       </div>
    </div>
  </div>

  <div class = "acm_article academic_main minh" role = "main">
<h1>学术节</h1>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学术节是由ACM班联谊会主办的重要年度活动之一。</h4>
		<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
		{% for post in site.categories.academic_festival %}
		<h2> <span class="mw-headline" id="{{post.year}}"> {{post.year}} </span></h2>
		{{post.content}}
		{% endfor %}
	</div>
  </div>
</div>
