---
layout: default
title: Students 2012
bugs: 1、左侧边栏希望能够固定，但是太长，希望能随滚动慢速降低。
      <p>2、左侧边栏希望在小屏幕上放在上面但是不行。</p>
---

<div class="container_big">
		<div class="col-md-2 content">
			<h3>名录</h3>
			{% for post in site.categories.students2012 %}
	            {% include teacher_list_brief.html %}
	        {% endfor %} 
		</div>
		<div class="col-md-10 padding_0">
			{% for post in site.categories.students2012 %}
	            {% include teacher_list.html %}
	        {% endfor %} 
			
		</div>
	</div>
